.u-section-1 {
  background-image: url("images/b68314ac4cf6603815f42d272484a635de696ee6f2ed1fc5dc879979a12ab3c10f86047f49f7a31f1deda90474b98d3c596021bc5237e4305b36e5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 392px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: 31px auto 0 229px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px 592px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px 417px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -41px auto 0 806px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: 29px auto 0 214px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -41px auto 0 399px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -44px 411px 0 auto;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -43px auto 0 791px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: 31px auto 0 229px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px auto 0 399px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -39px 422px 0 auto;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -45px auto 0 806px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: 31px auto 0 204px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -43px 616px 0 auto;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -40px 393px 0 auto;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px auto 0 791px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: 29px auto 0 206px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -46px 592px 0 auto;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  align-self: center;
  margin: -38px 393px 0 auto;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -42px 200px 31px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 392px;
    margin-left: 326px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 217px;
    margin-left: 523px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 713px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 326px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 211px;
    margin-left: 523px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 713px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 326px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 222px;
    margin-left: 523px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 713px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 416px;
    margin-left: 326px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 193px;
    margin-left: 523px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 713px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 392px;
    margin-left: 326px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 193px;
    margin-left: 523px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
    margin-left: 713px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 172px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 508px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 115px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 508px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 115px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 2px;
    margin-left: 318px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 508px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 115px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 20px;
    margin-right: 196px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 508px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 115px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 20px;
    margin-right: 172px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 328px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 328px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 328px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 16px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 328px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 20px;
    margin-left: 115px;
  }
}